html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 60px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #fafafa;
  text-align: center;
  color: #8b8b8b;
}

.happy-traveler {
  width: 350px;
}

h1,
h2 {
  font-weight: 500;
  color: #000000;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 16px;
}

.underlining {
  background-color: #407bff;
  width: 60px;
  height: 2px;
  margin: 10px auto 30px auto;
}

button {
  color: #ffffff;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 20px;
  display: block;
  border: none;
  font-size: 14px;
}

.button__primary {
  background-color: #407bff;
  margin: 30px auto 10px auto;
}

.button__secondary {
  background-color: #8b8b8b;
  margin-right: auto;
  margin-left: auto;
}

.service-area {
  margin-top: 30px;
}

.service {
  font-size: 13px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #407bff1f;
  margin-bottom: 15px;
}

.service p {
  flex-basis: 345px;
  text-align: left;
  margin: 0;
  align-self: center;
}

@media screen and (min-width: 640px) {
  .happy-traveler {
    width: 400px;
  }
  button {
    display: inline-block;
  }

  .button__primary {
    margin: 30px 10px 10px auto;
  }
  .button__secondary {
    margin-left: 10px;
  }

  .service-area {
    display: flex;
    justify-content: space-between;
  }

  .service {
    display: block;
    flex-basis: calc((100% - 40px) / 3);
    padding: 40px 15px;
  }
  .service p {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1100px) {
  .content {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
  }

  .banner {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }

  .underlining {
    margin: 10px auto 30px 0;
  }

  .banner__text,
  .banner__img {
    flex-basis: 490px;
  }

  .banner__img {
    display: flex;
    justify-content: center;
  }

  .happy-traveler {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
  }

  .service-area {
    flex-basis: 550px;
  }
  .service {
    margin-bottom: 0;
    text-align: center;
  }

  .travel-agency {
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }

  .delegate {
    margin-top: 80px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }

  .travel-agency__text,
  .delegate__text {
    flex-basis: 430px;
  }
}
